# Build artifacts
build/
test/

# IDE
.vscode/

# macOS
.DS_Store

# Xcode
*.xcuserstate
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM*
DerivedData/
LiveCapture.xcodeproj/xcuserdata/
LiveCapture.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# CocoaPods (if used in future)
Pods/

# Fastlane (if used in future)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
